/node_modules
/**/node_modules
/**/dist/
/**/build/
/**/ignore/
/**/test_network/**
/**/html_public_test
/packages/bzx.js-docs/_book
/packages/portal/live_site
/packages/contracts/_book
/packages/contracts/html_public_test
*.log
secrets.js
*.secret.js
*.test.json
.DS_Store
.vscode
.next
.idea
package-lock.json
/packages/contracts/scripts/doxity/pages/docs/*.json
/packages/contracts/scripts/doxity/pages/index.md
/packages/contracts/scripts/doxity/config.toml
/docs/
