/node_modules
/*/node_modules
/*/dist/
/*/build/
/*/ignore/
/*/test_network/**
/*/html_public_test
/packages/portal/live_site
/packages/protocol_contracts/html_public_test
*.log
secrets.js
*.secret.js
*.test.json
.DS_Store
.vscode
.next
.idea
package-lock.json